* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://catherineasquithgallery.com/uploads/posts/2021-02/1614382479_11-p-mashini-na-svetlom-fone-13.jpg');
    image-rendering: optimizeSpeed;
  
}

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #0d0d0e8a;
    max-height: 900px;
    width: 60%;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: rgba(59, 0, 130, 0.442) 0px 30px 90px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    width: 80%;
    margin: 0 auto;
}

/*checkbox to switch from sign up to login*/
#chk {
    display: none;
}
/*Login*/
.login {
    position: relative;
    width: 100%;
    height: 100%;
}

.login label {
    margin: 5% 0 5%;
    
}

label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

.input {
    width: calc(100% - 20px);
    /* Adjust the width of the input fields */
    max-width: 100%;
    height: 40px;
    font-size: 1rem;
    background: #e0dede;
    padding: 10px;
    margin-top: 12px;
    border: none;
    outline: none;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .form label {
        font-size: 1.5rem;
    }
    .input {
        margin-top: 15px;
    }
}

@media (max-width: 480px) {
    .form label {
        font-size: 1.2rem;
    }
    .input {
        margin-top: 12px;
    }
}
/*Register*/
.register {
    background: rgba(255, 255, 255, 0.984);
    border-radius: 60% / 10%;
    transition: .6s ease-in-out;
}

.register input {
    pointer-events: none;
    opacity: 0.5;
}

#chk:checked~.register input {
    pointer-events: auto;
    opacity: 1;
}

.register label {
    color: #000000ee;
    transform: scale(.5);
}

#chk:checked~.register {
    transform: translateY(-45%);
}

#chk:checked~.register label {
    transform: scale(1);
    margin-bottom: .5rem;
}

#chk:checked~.login label {
    transform: scale(.6);
}

@media (max-width: 1280px) {
    #chk:checked~.register {
        transform: translateY(-40%);
    }
}

@media (max-width: 720px) {
    #chk:checked~.register {
        transform: translateY(-35%);
    }
}
/*Button*/
.form button {
    width: 100%;
    height: 40px;
    margin: 15px auto 10%;
    color: #fff;
    background: #2e2727de;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
}

.form button:hover {
    background-color: #1f1f1f7e;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    
    
}

.button-container button{
    margin-left: 10px;
    margin-right: 10px;
}


